.hero{
    height: 100vh;
    background: linear-gradient(180deg, #cff1ff #FDFEE4 60%);
    display: flex;
    overflow: scroll;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding-left: 60px; 
    position: absolute;
    z-index: 2; 
    color: #fff; 
    padding-top: 20px; 
  

}

.hero-left p {
    color: white;
    font-size: 170px;
    font-weight: 700;
    margin: 0;
}
.hero-latest-btn {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 260px;
    height: 70px;
    border-radius: 75px;
    margin-top: 20px; 
    background: #FEF5C3;
    color: #E88794;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.hero-latest-btn img {
    width: 20px;
    height: auto;
}

.hero-right {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 1280px) {
    .hero-left{
        padding-left: 100px;
    }
    .hero-left p {
        font-size: 150px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin: 20px;
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .hero-left{
        padding-left: 40px;
    }
    .hero-left p {
        font-size: 130px;
        margin-top: 50px;
   
    }
    .hero-latest-btn{
        width: 220px;
        height: 50px;
        margin: 20px;
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .hero-left{
        padding-left: 20px;
    }
    .hero-left p {
        font-size: 110px;
        margin-top: 30px;
   
    }
    .hero-latest-btn{
        width: 220px;
        height: 50px;
        margin: 20px;
        font-size: 16px;
    }
}


